@if variable-exists('cody-base-partials') == false or index($cody-base-partials, 'forms') {
  .form-control {
    font-size: var(--form-control-font-size, 1em);
    padding-top: var(--form-control-padding-y, 0.5em);
    padding-bottom: var(--form-control-padding-y, 0.5em);
    padding-left: var(--form-control-padding-x, 0.75em);
    padding-right: var(--form-control-padding-x, 0.75em);
    border-radius: var(--form-control-radius, 0.25em);
    border: var(--form-control-boreder-width, 1px) solid var(--form-control-boreder-color, $gray-400);
  }


  .form-label {
    display: inline-block;
  }
}